* {
  font-family: "Open Sans";
}

#wrapper {
  width: 75%;
  margin: 0 auto;
  padding-top: 35vh;
}

#header {
  font-size: 2.75em;
  color: white;
}

#bodytext {
  font-size: 1em;
  margin-top: 70vh;
  color: white;
}

#background-image {
  z-index: -10;
  width: 100%;
  height: 100%;
  position: fixed;
  object-fit: cover;
}

body {
  margin: 0;
}
