* {
  font-family: "Lato";
  box-sizing: border-box;
}

::-webkit-scrollbar { 
    display: none; 
}

#wrapper {
  overflow: hidden;
  width: 75%;
  margin: 0 auto;
  padding-top: 40vh;
  padding-right: 20px;
}

#header {
  font-size: 2.75em;
  color: black;
  padding: 20px;
  background-color: white;
  position: absolute;
  word-wrap: break-word;
  max-width: 75%;
}

#bodytext {
  margin-top: 65vh;
  margin-bottom: 60vh;
}

.bodyheader {
  font-size: 1.75em;
  color: black;
  padding: 15px;
  background-color: white;
}

.bodyparagraph {
  font-size: 1em;
  color: black;
  padding: 15px;
  background-color: white;
  margin-bottom: 60vh;
}

.body-paragraph p {
  float: left;
}

.image {
  position: absolute;
  float: right;
  width: 25%;
  height: 25%;
  object-fit: cover;
}

#background-image {
  z-index: -10;
  width: 100%;
  height: 100%;
  position: fixed;
  object-fit: cover;
}

body {
  margin: 0;
}
